In [6]:
import pandas as pd
lst =[1,2,3,4,5]
print(pd.Series(lst))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
#EXERCISE 2
dat = pd.date_range(start='05-01-2021' , end='05-12-2021')
print(dat)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [14]:
#EXERCISE 3
data= {'name': ['john','sarah'],
       'Age': [21,20],
        'Courses': ['CS','Physics']}
df = pd.DataFrame.from_dict(data)
print(df)

    name  Age  Courses
0   john   21       CS
1  sarah   20  Physics

In [16]:
#EXERCISE 4
lst =[ ['Apple',150],
      ['orange',65],
      ['avacado',165]]
df = pd.DataFrame(lst,columns =['Fruits','Price'])
print(df)

    Fruits  Price
0    Apple    150
1   orange     65
2  avacado    165

In [17]:
#EXERCISE 5
df = pd.read_csv("details.csv")
print(df)

      Name  Age  Gender
0  Anamika   22  Female
1      Ann   22  Female
2   Joseph   20    Male

In [22]:
#EXERCISE 6
datafra ={'Name':['Anna','Elsa','Christoph'],
          'Score':[12.5,9,16.5],
           'Attempts':[1,0,2]}
df = pd.DataFrame(datafra)
print("original Dataframe:")
print(df)
print("\nSorted Dataframe:")
print(df.sort_values(['Attempts','Name']))

original Dataframe:
        Name  Score  Attempts
0       Anna   12.5         1
1       Elsa    9.0         0
2  Christoph   16.5         2

Sorted Dataframe:
        Name  Score  Attempts
1       Elsa    9.0         0
0       Anna   12.5         1
2  Christoph   16.5         2

In [27]:
#EXERCISE 7
stud ={'name':['Anna','elss'],
       'Marks':[85,77]}
stud_df=pd.DataFrame(stud,index=['a','b'])
print(stud_df)
print("Dataframe with default index")
stud1=stud_df.reset_index()
print(stud1)

   name  Marks
a  Anna     85
b  elss     77
Dataframe with default index
  index  name  Marks
0     a  Anna     85
1     b  elss     77

In [28]:
#EXERCISE 8
datafra ={'Name':['Anna','Elsa','Christoph'],
          'Score':[12.5,9,16.5],
           'Attempts':[1,0,2]}
df = pd.DataFrame(datafra)
print(df.head(2))

   Name  Score  Attempts
0  Anna   12.5         1
1  Elsa    9.0         0

In [29]:
#EXERCISE 9
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Occupation': ['Engineer', 'Teacher', 'Doctor', 'Engineer', 'Doctor'],
    'Salary': [60000, 45000, 75000, 65000, 80000]
}

df = pd.DataFrame(data)

average_salary_per_occupation = df.groupby('Occupation')['Salary'].mean()

print(average_salary_per_occupation)

Occupation
Doctor      77500.0
Engineer    62500.0
Teacher     45000.0
Name: Salary, dtype: float64

In [31]:
#EXERCISE 10
import numpy as np
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, np.nan, 5],
    'C': [1, 2, 3, 4, np.nan]
}

df = pd.DataFrame(data)

df_filled = df.fillna(0)


print(df_filled)

     A    B    C
0  1.0  0.0  1.0
1  2.0  2.0  2.0
2  0.0  3.0  3.0
3  4.0  0.0  4.0
4  5.0  5.0  0.0

In [32]:
#EXERCISE 11
import pandas as pd

data = {
    'cname': ['Company A', 'Company B', 'Company C', 'Company D'],
    'profit': [10000, -5000, 0, 7500]
}

df = pd.DataFrame(data)

df['profit'] = df['profit'].apply(lambda x: x > 0)

print(df)

       cname  profit
0  Company A    True
1  Company B   False
2  Company C   False
3  Company D    True

In [33]:
#EXERCISE 12
data1 = {
    'eid': [101, 102, 103, 104],
    'ename': ['Alice', 'Bob', 'Charlie', 'David'],
    'stipend': [5000, 6000, 5500, 7000]
}

data2 = {
    'eid': [101, 103, 104, 105],
    'designation': ['Engineer', 'Manager', 'Analyst', 'Technician']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

result_df = df1.merge(df2, on='eid', how='left')

result_df = result_df.rename(columns={'designation': 'position'})

print(result_df)

   eid    ename  stipend  position
0  101    Alice     5000  Engineer
1  102      Bob     6000       NaN
2  103  Charlie     5500   Manager
3  104    David     7000   Analyst